In [1]:
import pandas as pd

In [7]:
PlaneCandidates = pd.read_excel("/Users/britfathi/Downloads/PlaneCandidates.xlsx")

In [8]:
PlaneFeatures = pd.read_excel("/Users/britfathi/Downloads/PlaneFeatures.xlsx")

In [9]:
PlaneCandidates.head()

,other,surveil,adshex,squawk_1,name,reg
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB
1,0.0995,0.9005,A13098,4415,NaN,NaN
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S

In [14]:
PlaneFeatures.tail()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer3,steer4,steer5,steer6,steer7,steer8,flights,squawk_1,observations,type
19794,ADFFFA,0.090909,0.454545,0.000000,0.454545,0.000000,0.000000,0.272727,0.181818,0.363636,...,0.214286,0.322300,0.078397,0.200348,0.008711,0.024390,11,5154,574,unknown
19795,ADFFFC,0.352941,0.323529,0.176471,0.117647,0.029412,0.235294,0.176471,0.264706,0.117647,...,0.232252,0.359334,0.070990,0.199825,0.021911,0.035057,34,0,1141,unknown
19796,ADFFFF,0.192308,0.423077,0.230769,0.115385,0.038462,0.153846,0.153846,0.384615,0.230769,...,0.185259,0.244024,0.062749,0.242032,0.026892,0.041833,26,4000,1004,unknown
19797,AE1899,0.000000,0.200000,0.000000,0.800000,0.000000,0.000000,0.200000,0.200000,0.400000,...,0.231801,0.404215,0.063218,0.201149,0.015326,0.011494,5,5335,522,unknown
19798,AF6797,0.000000,0.142857,0.285714,0.142857,0.428571,0.142857,0.142857,0.428571,0.285714,...,0.217808,0.479248,0.129833,0.113870,0.006740,0.002483,7,5567,2819,unknown

In [11]:
Planes = pd.merge(PlaneFeatures, PlaneCandidates, how='outer')

In [15]:
Planes.tail()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer7,steer8,flights,squawk_1,observations,type,other,surveil,name,reg
19794,ADFFFA,0.090909,0.454545,0.000000,0.454545,0.000000,0.000000,0.272727,0.181818,0.363636,...,0.008711,0.024390,11,5154,574,unknown,NaN,NaN,NaN,NaN
19795,ADFFFC,0.352941,0.323529,0.176471,0.117647,0.029412,0.235294,0.176471,0.264706,0.117647,...,0.021911,0.035057,34,0,1141,unknown,NaN,NaN,NaN,NaN
19796,ADFFFF,0.192308,0.423077,0.230769,0.115385,0.038462,0.153846,0.153846,0.384615,0.230769,...,0.026892,0.041833,26,4000,1004,unknown,NaN,NaN,NaN,NaN
19797,AE1899,0.000000,0.200000,0.000000,0.800000,0.000000,0.000000,0.200000,0.200000,0.400000,...,0.015326,0.011494,5,5335,522,unknown,NaN,NaN,NaN,NaN
19798,AF6797,0.000000,0.142857,0.285714,0.142857,0.428571,0.142857,0.142857,0.428571,0.285714,...,0.006740,0.002483,7,5567,2819,unknown,NaN,NaN,NaN,NaN